.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.Screen {
  width: 100vw;
  height: 7.5vh;
  background: rgb(14, 37, 53);
  color: white;
  text-align: end;
}

.Keyboard {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

span {
  padding-inline-end: 2vw;
  font-size: 28px;
}